

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.game-item {
  flex: 0 0 calc(33.33% - 20px); 
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
  text-align: center;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-decoration: none;
  background-color: transparent;
  margin-top: 10px
}


.game-item .gameUrl {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game-item img {
  max-width: 100%;
  height: auto;
}

.game-item h3 {
  margin: 0;
  font-size: 1.2rem;
}

.game-item .genre {
  color: #555;
}

.game-item .description {
  font-size: 0.9rem;
  margin-top: 10px;
}

/*game description component*/
.game-itemD {
  flex: 0 0 calc(50% - 20px); 
  border: 1px solid #ccc;
  padding: 20px; 
  max-width: 620px; 
  text-align: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
  margin: 20px; 
}

.genreD {
  color: #555;
  font-size: 1rem; 
}

.descriptionD {
  font-size: 1.2rem; 
  margin-top: 20px; 
}

.gameUrlD {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gameUrlD a {
  text-decoration: none;
}

.game-itemD img {
  max-width: 100%;
  height: auto;
}

.game-itemD h3 {
  margin: 0;
  font-size: 1.5rem; 
}