

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px 40px;
  background: linear-gradient(135deg, #3498DB, #ECF0F1);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  font-size: 36px;
  margin: 0;
  font-weight: 700;
  color: #ECF0F1;
}

nav {
  display: flex;
  align-items: center;
  flex: 1;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

nav li {
  margin: 10px 0; 
}

nav a {
  text-decoration: none;
  color: #ECF0F1;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #3498DB;
}

.welcome-text {
  font-weight: bold;
  font-size: 16px;
  margin-left: 10px;
  color: #ECF0F1;
  font-weight: bold;
  font-size: 20px;
}

.sign-outBtn {
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    padding: 10px 20px;
    flex-direction: column; 
    text-align: center; 
  }

  h1 {
    font-size: 28px;
  }

  nav {
    text-align: center; 
  }

  nav li {
    margin: 5px 0;
  }

  nav a {
    font-size: 16px;
    margin: 5px 0;
  }

  .welcome-text {
    font-size: 14px;
    margin: 5px 0;
  }
}